<nav class="site-state motion-element">
    <div class="site-state-item site-state-posts">
      <a href="/post/">
        <span class="site-state-item-count">{{ len (where .Site.RegularPages "Section" "post") }}</span>
        <span class="site-state-item-name">{{ i18n "Blog" }}</span>
      </a>
    </div>
    <div class="site-state-item site-state-categories">    
        <a href="/categories/">      
        {{if isset .Site.Taxonomies "categories"}} 
        <span class="site-state-item-count">{{len .Site.Taxonomies.categories}}</span>
        {{else}}
        <span class="site-state-item-count">0</span>
        {{end}}
        <span class="site-state-item-name">{{ i18n "Category" }}</span>
        
        </a>
    </div>

    <div class="site-state-item site-state-tags">
        <a href="/tags/">
        {{if isset .Site.Taxonomies "tags"}} 
        <span class="site-state-item-count">{{len .Site.Taxonomies.tags}}</span>
        {{else}}
        <span class="site-state-item-count">0</span>
        {{end}}
        <span class="site-state-item-name">{{ i18n "Tag" }}</span>
        </a>
    </div>
</nav>