<nav class="site-state motion-element">
    <div class="site-state-item site-state-posts">
      <a href="/post/">
        <span class="site-state-item-count">{{ len (where .Site.Pages "Type" "post") }}</span>
        <span class="site-state-item-name">{{ .Site.Params.Strings.Blog  }}</span>
      </a>
    </div>
    <div class="site-state-item site-state-categories">    
        <a href="/categories/">       
        <span class="site-state-item-count">{{ len .Site.Taxonomies.categories }}</span>
        <span class="site-state-item-name">{{ .Site.Params.Strings.Categories  }}</span>
        </a>
    </div>

    <div class="site-state-item site-state-tags">
        <a href="/tags/">
        <span class="site-state-item-count">{{ len .Site.Taxonomies.tags }}</span>
        <span class="site-state-item-name">{{ .Site.Params.Strings.Tags  }}</span>
        </a>
    </div>
</nav>