{{ define "main_class"}}{{ end}}

{{ define "main_content" }}
<section id="posts" class="posts-collapse">
<div class="collection-title">
    <h2 >{{ .Title }}
    <small>{{ i18n "Category" }}</small>
    </h2>
</div>
{{ range (.Paginate (.Data.Pages.GroupByDate "2006") 15 ).PageGroups  }}
<div class="collection-title">
  <h2 class="archive-year motion-element" id="archive-year-{{ .Key }}">{{ .Key }}</h2>
</div>
{{ partial "post_simple_list.html" . }}
{{ end }}
 </section>
{{ partial "pagination.html" . }}
{{ end }}