{{ partial "head.html" . }}
<body itemscope itemtype="http://schema.org/WebPage" lang="zh-Hans">
<div class="container one-collumn sidebar-position-left {{ block "main_class" .}}{{end}}  ">
    <div class="headband"></div>

    <header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
      <div class="header-inner"> {{ partial "header.html" . }} </div>
    </header>

    <main id="main" class="main">
      <div class="main-inner">
        <div class="content-wrap">
          <div id="content" class="content">
            {{ block "main_content" . }}{{end}}
          </div>
        </div>
        {{ partial "sidebar.html" . }}
      </div>
    </main>
   
    <footer id="footer" class="footer">
      <div class="footer-inner">
        {{ partial "footer.html" . }}
      </div>
    </footer>

    <div class="back-to-top">
      <i class="fa fa-arrow-up"></i>
      <span id="scrollpercent"><span>0</span>%</span>
    </div>
  </div>

  {{ partial "script.html" .}}
</body>
</html>