<div class="site-meta {{ if .Site.Params.Imglogo }} custom-logo {{ end }}">

  <div class="custom-logo-site-title">
    <a href="{{ .Site.BaseURL }}"  class="brand" rel="start">
      <span class="logo-line-before"><i></i></span>
      <span class="site-title">{{ .Site.Title }}</span>
      <span class="logo-line-after"><i></i></span>
    </a>
  </div>
  <p class="site-subtitle">{{ with .Site.Params.Subtitle }}{{ . }}{{ end }}</p>
</div>

<div class="site-nav-toggle">
  <button>
    <span class="btn-bar"></span>
    <span class="btn-bar"></span>
    <span class="btn-bar"></span>
  </button>
</div>

<nav class="site-nav">
    <ul id="menu" class="menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="menu-item {{ if $currentPage.IsMenuCurrent "main" . }}menu-item-active{{ end }}">
          <a href="{{ .URL }}" rel="section">
              <i class="menu-item-icon fa fa-fw fa-{{ .Pre }}"></i> <br />{{ .Name }}
          </a>
        </li>
      {{ end }}
      <li class="menu-item menu-item-search">
        <a href="javascript:;" class="popup-trigger"> <i class="menu-item-icon fa fa-search fa-fw"></i> <br /> {{ i18n "Search" }}</a>
      </li>
    </ul>
    <div class="site-search">
      {{ partial "widgets/search.html" .}}
    </div>
</nav>

